.App {
  text-align: center;
}

body {
  background: url('./faces.jpg')
}

footer {
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
  padding-left: 1%;
  padding-right: 1%;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 2px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}